<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Ebay Test Suite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="com.lahirucw.ebayautomation.tests.ExtentReportListener"/>
    </listeners>
    <test name="Firefox Test">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.lahirucw.ebayautomation.tests.EbayPurchaseTest"/>
        </classes>
    </test>
</suite>